<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body>
    请登录
    <form method="post" action="/signUp">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <input type="submit" value="login" />
    </form>    
</body>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>

</html>